
*{
    margin:0px;
    padding:0px
}
.ph{
    text-align: center;
}

.sm-upload-divcenter{
    height:100vh;
    width:100vw;
    background-color:rgb(200 220 222);
    display:grid;
    place-items:center;
}

.sm-formlevele{
display:block;
text-align: center;
margin-top:10px;
border:none;
    outline:none;

}

.sm-form-control{
    width:340px;
    border:none;
    outline:none;
    /* height:20px; */
    /* border-top: none;
    border-left: none;
    border-right: none; */
    /* background-color:rgb(200 220 222); */

}

.sm-tarea{
    width:350px;
    height:70px;
    border:none;
    outline:none;
    /* background-color:rgb(200 220 222); */
}

.sm-select{
    width:340px;
    border:none;
    outline:none;

    /* background-color:rgb(200 220 222); */


}
option{
	text-align:center;
    border:none;
    outline:none;
}

.bcreate{
    width:340px;
    height:30px;
    /* margin-left: 500px; */
    background-color: #0A84c6;
    color:white;
    border-radius:5px;
    border:none;
    outline:none;
	cursor:pointer
}
