*{
	margin:0;
	padding:0;
	font-family: 'Cinzel', serif;
}

.sm-contact-backgroud{
	/*for 100% height*/
	width:100vw;
	height:100vh;
	/*backgroud color: */
	background-color:#013A6D;
	width:100%;
	display:flex;
	flex-wrap: wrap;
	
}
.sm-contact-heading{
	text-align:center;
	color:white;
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 5%;
	margin-bottom: 5%;
	word-spacing: 10px;
}

.sm-contact-center{
	width:40vw;
	height:90%;
	position:relative;
	
	top:50%;
	left:50%;
	/*background-color: red;*/
	transform:translate(-50%, -50%);
	background-color: #004E95;
}

@media (max-width:900px) and (min-width:500px) {

	.sm-contact-center{
		width:60vw;
		height:95%;
		position:relative;
		
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		background-image: #004E95;
	}

}

@media (max-width:500px) and (min-width:100px) {

	.sm-contact-center{
		width:90vw;
		height:95%;
		position:relative;
		
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		background-image: #004E95;
	}

}

.contact-form-input{
	width:calc(100% - 2.5rem);
	height:2rem;
	display:block;
	
	margin-top: 15px;
	margin-left: 18px;
	padding:0 10px;
	box-sizing: border-box;
	border-radius: 10px;
	border:none;
	outline: none;
}
.contact-message{
	width:calc(100% - 2.5rem);
	height:4rem;
	display:block;
	margin-top: 20px;
	margin-left: 18px;
	
	box-sizing: border-box;

	padding: 0px;
	border-radius: 0px;
	border:none;
	outline: none;
    
}

::placeholder{
	letter-spacing :3px;
	color:blacks;

}

.contact-button{
	width:calc(100% - 40px);
	height:30px;
	/* display:block; */
	margin-top: 20px;
	margin-left: 18px;
	color:white;
	background-color: #0A84c6;
	border:none;
	border-radius: 50px;
	cursor:pointer;
}